$green-color : rgba(204, 236, 129, 0.99);
header{
    .header-top {
        background-color:$green-color;
       span:hover{
           color: red;
       }
    }
    .menu{
        .menu-bar{
            .home{
                a:hover{
                    color: red;
                }
            }
        }
    }
    
}
.map a:hover{
    color: red;
}
.copyright{
    background-color: $green-color;
}
.test{
    background-image: url(../src/img/Graphic-1.jpg);
    height: 500px;
}
.Contact{
    background-image: url(../src/img/contact-title.jpg);
    
    
}
